{% extends 'base.html' %}

{% block content %}
<!-- main stuff-->

     <div class="container-fluid">
       <div class="row no-gutters">

        <!--left side -->
        <div class="col-md-8 left">
          <div class="row">
            <div class="col-md-12" >

                <span id="markup-example" style="padding-left: 5px;">пример разметки</span>

                 <p class="example" style="padding: 40px 10px; border: solid 1px black; border-radius: 10px; margin-right: 10px;">
                  <span class="said">"Позвольте мне вам представить жену мою"</span>, <span class="author_comment"><span class="speech_verb">сказал</span> <span class="who">Манилов</span></span>. <span class="said">"Душенька, Павел Иванович!"</span>
                </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h6>Тэги</h6>
              <form method="POST">
                <input type="checkbox" name="said" value="said"><span class="said_tag" style="background-color: orange; margin: 0 10px;">прямая речь</span>
                <input type="checkbox" name="author_comment" value="author_comment"><span class="author_tag" style="background-color: lightgreen; margin: 0 10px;">слова автора</span>
                <input type="checkbox" name="speech_verb" value="speech_verb"><span class="verb_tag" style="background-color: pink; margin: 0 10px;">глагол речи</span>
                <input type="checkbox" name="who" value="who"><span class="who_tag" style="background-color: lightblue; margin: 0 10px;">говорящий</span>
              </form>
            </div>

          </div>
          <div class="row" style="margin: 40px 0 15px 0;">
            <div class="col-md-8">
              <h3>Загрузить свой текст для разметки</h3>
              <p>Вы можете загрузить свой текст и работать с ним онлайн или скачать размеченный текст, потому что мы крутые</p>
            </div>
          </div>

          <div class="row" style="margin: 10px;">
            <div class="col-md-12">
              <form method=post enctype=multipart/form-data>
                <button type="submit" class="btn btn-lg btn-info">Загрузить файл</button>
              </form>
                <a href='http://127.0.0.1/files/processed/Gorky_1899_sraccess.txt' download>
                <button type="button" class="btn btn-lg btn-info">Cкачать файл</button>
                </a>
            </div>
          </div>

        

        <!--right side -->
        <div class="col-md-4 right" style="border: solid 1px black; border-radius: 10px; padding: 10px; margin: 23px 0;">
          <div class="row">
            <div class="col-md-12">
              <h3>Золотой стандарт</h3>
              <p style="padding: 40px 5px;">
             Скачайте наш золотой корпус, он замечательный, в нём очень много токенов и вообще!
              </p>
            </div>

          </div>

          <div class="row">
            <div class="col-md-6">
              <form method="POST">
                <button class="btn btn-lg btn-info">Скачать в формате</button><br>
              </form>
            </div>
            <div class="col-md-6" style="padding-left: 20px">
              <input type="checkbox" name="xml" value="xml" checked="">xml<br>
              <input type="checkbox" name="txt" value="txt">txt<br>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12" style="margin: 10px 0; padding-left: 100px;">
              <p>или</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <form method="POST">
                <button class="btn btn-lg btn-info">Работать с корпусом онлайн</button><br>
              </form>
            </div>
          </div>



        </div>

       </div>
     </div>
{% endblock %}
