{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid">
    <div class='row'>
      <div class="col-md-8" style="margin-top: 10px;">
        <p>Проект "(Не)прямая речь" включает в себя парсер прямой речи в художественных произведениях и небольшой золотой корпус.</p>
        <h3>Парсер</h3>
        <p>
          Парсер, основанный на регулярных выражениях, позволяет выделять прямую речь, оформленную в соответствии со стандартной пунктуацией,
          принятом в литературном русском языке. В каждом "экземпляре" прямой речи парсером выделяется <i>речь персонажа</i>, <i>речь автора</i>, <i>глагол речи</i> и
          <i>прямая речь в целом</i>, включающая все предыдущие тэги.
        </p>
        <h3>Золотой корпус</h3>
        <p>
          В эталонный корпус, размеченный вручную, входят небольшие отрывки из N текстов, общим объемом X словоупотреблений.
        </p>
        <h3>Разметка</h3>
        <p>
          Наша разметка была разработана в соответствии со стандартами <a href="http://www.tei-c.org/">Text Encoding Initiative</a>. Некоторые элементы и атрибуты
          были позаимствованы оттуда напрямую, некоторые были добавлены нами.
        </p>
        <ul>
          <li>
            <code>&lt;speech&gt;</code> - элемент, полностью покрывающий прямую речь (слова автора и речь персонажа).
          </li>
          <li>
            <code>&lt;said&gt;</code> - элемент, обозначающий речь персонажа. По использованию и некоторым атрибутам аналогичен
            <a href='http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-said.html'>одноименному элементу TEI</a>.
            <ul style='padding-left:1.2em'>
              <li><b>@who</b> - персонаж, которому принадлежит высказывание.</li>
              <li><b>@corresp</b> - персонаж, к которому обращено высказывание.</li>
              <li><b>@aloud</b> - произносится ли высказывание вслух или про себя.</li>
              <li><b>@type</b> - обозначает тип высказывания (прямая или косвенная речь)</li>
            </ul>
          </li>
          <li>
            <code>&lt;author_comment&gt;</code> - авторская речь, сопровождающая высказывание.
          </li>
          <li>
            <code>&lt;speech_verb&gt;</code> - глагол речи, входящий в авторскую речь, и несущий семантическую информацию о высказывании.
            <ul style='padding-left:1.2em'>
              <li><b>@semantic</b> - семантическая характеристика высказывания</li>
              <li><b>@emotion</b> - характеристика эмоционального состояния говорящего персонажа</li>
            </ul>
          </li>
        </ul>
      </div>
      </div>
    <div class="row">
      <div class="col-md-4" style="margin-top: 10px;">
        <h2>Наши звездочки</h2>
        <ul>
          <li>Ирина Никишина</li>
          <li>Ирина Соколова</li>
          <li>Даниил Тихомиров</li>
        </ul>
        <h2>Научные руководители</h2>
        <ul>
          <li><a href="https://www.hse.ru/org/persons/32878143">А.А. Бонч-Осмоловская</a></li>
          <li><a href='https://www.hse.ru/staff/skorinkin'>Д.А. Скоринкин</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
    <div class="col-md-4" style="margin-top: 10px; margin-bottom: 10px">
      <h3><a href="https://github.com/DanilSko/speech">Репозиторий проекта</a></h3>
    </div>
    </div>
  </div>
  
{% endblock %}
