{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>(Не)прямая речь</title>
    <link rel="stylesheet" href="{% static "node_modules/bootstrap/dist/css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  </head>
  <body>
    <div class = "page-header col-md-12">
      <span id="page-title">(не)прямая речь</span>
    </div>
    <nav class="navbar navbar-expand navbar-light" style="background-color: #ffebcd;">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="main">Главная</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="gold">Золотой корпус</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="about">О проекте</a>
        </li>
      </ul>
    </div>
  </nav>
    <div>
      {% block content %}
      {% endblock %}
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
      </div>

      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-1 col-md">
            <img class="mb-2" src="../../assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
            <small class="d-block mb-8 text-muted text-center">&copy; 2018 <a href="https://linghub.ru/">HSE School of Linguistics</a></small>
          </div>
      </footer>
    </div>

  </body>
  <script src="{% static "node_modules/jquery/dist/jquery.min.js" %}"></script>
  <script src="{% static "node_modules/bootstrap/dist/js/bootstrap.min.js" %}"></script>
  <script src="{% static "main.js" %}"></script>
</html>
